.container-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.wrapper-img {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.4s ease-in-out; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.pequena {
  width: 200px;
  height: 150px;
}


.expandida {
  width: 500px;
  height: 350px;
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.imagem-style {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}